<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/styles.css" rel="stylesheet" />
  </head>
  <body class="h-screen flex bg-black flex-row content-center">
    <div class="flex flex-row h-screen content-center">
      <div class="flex content-center">
        <h1 class="text-white">PubCount</h1>
      </div>
    </div>
    <div>
      <p class="text-white">Hie</p>
    </div>
    <div class="flex-grow h-screen px-4 pt-1">
      <table class="text-white w-full border-separate border-spacing-2">
        <thead class="text-left">
          <tr>
            <th class="select-none cursor-pointer px-4 py-2">Name</th>
            <th class="select-none cursor-pointer px-4 py-2">Goals</th>
            <th class="select-none cursor-pointer px-4 py-2">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-2">User</td>
            <td class="px-4 py-2">-Goal</td>
            <td class="px-4 py-2">G</td>
          </tr>
          <tr>
            <td class="px-4 py-2">User</td>
            <td class="px-4 py-2">-Goal</td>
            <td class="px-4 py-2">G</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
